@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
  font-family: "Booter - Zero Zero";
  src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
    url("Fonts/Booter - Zero Zero.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #777;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.roaster {
  background-color: rgb(18, 0, 31);
}
.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-header {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("https://images.unsplash.com/photo-1556056504-5c7696c4c28d?q=80&w=976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-blend-mode: multiply;
  background-size: contain;
  padding-bottom: 30px;
}
.guild-logo {
  margin: auto;
  display: block;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.band-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  color: white;
}

.band-name-large {
  font-size: 8em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 1.5em;
  margin-bottom: 20px;
  margin-top: 20px;
}
.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
  float: right;
}

.team-image {
  margin-left: 30%;
  height: 600px;
  width: 1000px;
  padding-bottom: 20px;
  margin: auto;
  display: block;
}

.about {
  text-decoration: solid;
  text-align: center;
  -webkit-text-fill-color: #02384a;
  text-shadow: #333;
  text-shadow: #333 5ch;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  
}

.main-footer {
  background-color: #02384a;
  color: white;
  padding: 0.25em 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
}
.content-section {
  align-items: center;
}
.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 0.5em;
}

.footer-nav img {
  width: 30px;
  height: 30px;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
}

.btn-header {
  margin: 0.5em 15% 2em 15%;
  color: white;
  border: 2px solid #01420c;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}
.kit-image {
  margin-left: 300px;
  width: 300px;
  height: 400px;
  border-radius: 2%;
}

a {
  outline: none;
  text-decoration: none;
  margin-right: 6px;
}

.member_card {
  width: 240px;
  height: 383px;
  transition: transform 400ms;
  text-align: center;
  border: none;
  color: #333;
  margin: 10px;
  border-radius: 2%;
  background-image: url('Images/Background_Img.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.member_card:hover {
  transform: scale(1.03);
  opacity: 1;
}

.btn-outline-dark {
  background-color:#132336;
  outline: auto;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  height: max-content;
  width: max-content;
}


.card-img-top {
  border-radius: 2%;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  max-width: 70%;
  max-height: 70%;
  display: block;
  position: relative;
  left: 15%;
}

.box {
  display: inline-flex;
  margin: auto;
  position: relative;
}
